<div class="container">
  <div class="details">
    <app-title title="Update details"></app-title>
    <form [formGroup]="profileForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.name"
        [showErrorsWhen]="fc.name.touched"
        label="Name"
        max="15"
      ></text-input>
      <text-input
        [control]="fc.address"
        [showErrorsWhen]="fc.address.touched"
        label="Address"
        max="50"
      ></text-input>
      <default-button text="Update Details"></default-button>
    </form>
  </div>
  <div class="details">
    <app-title title="Update password"></app-title>
    <form [formGroup]="passForm" (ngSubmit)="submitPass()">
      <text-input
        [control]="passForm.controls.password"
        [showErrorsWhen]="passForm.controls.password.touched"
        label="Password"
        type="password"
        max="20"
      ></text-input>
      <text-input
        [control]="passForm.controls.confirmPass"
        [showErrorsWhen]="passForm.controls.confirmPass.touched"
        label="Confirm Password"
        type="password"
        max="20"
      ></text-input>
      <input type="hidden" formControlName="email">
      <default-button text="Update Password"></default-button>
    </form>
  </div>
</div>

