<div class="container">
  <div class="details">
    <app-title title="Login"></app-title>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="fc.email.touched"
        type="email"
        label="Email"

        max="40"
      ></text-input>

      <text-input
        [control]="fc.password"
        [showErrorsWhen]="fc.password.touched"
        type="password"
        label="Password"
        max="40"

      ></text-input>

      <default-button text="Login"></default-button>
      <div class="register">
        New user? &nbsp;
        <a routerLink="/register" [queryParams]="{returnUrl: returnUrl}">Register Here</a>
      </div>
    </form>
  </div>
</div>
