<div class="container">
  <div class="details">
    <app-title title="Register"></app-title>
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <div class="half-box">
        <text-input
          [control]="fc.firstName"
          [showErrorsWhen]="fc.firstName.touched"
          label="First Name"
          max="30"
          spanElement="*"
          [onlyLetters]="true"
          [largeInput]="true"
        ></text-input>
        <text-input
          [control]="fc.lastName"
          [showErrorsWhen]="fc.lastName.touched"
          label="Last Name"
          max="10"
          [onlyLetters]="true"
          [largeInput]="true"
        ></text-input>
      </div>
      <text-input
        [control]="fc.email"
        [showErrorsWhen]="fc.email.touched"
        label="Email"
        type="email"
        max="40"
        spanElement="*"
      ></text-input>
      <div class="half-box">
        <text-input
          [control]="fc.password"
          [showErrorsWhen]="fc.password.touched"
          label="Password"
          type="password"
          max="40"
          spanElement="*"
          [largeInput]="true"
        ></text-input>
        <text-input
          [control]="fc.confirmPassword"
          [showErrorsWhen]="fc.confirmPassword.touched"
          label="Confirm Password"
          type="password"
          max="40"
          spanElement="*"
          [largeInput]="true"
        ></text-input>
      </div>
      <text-input
        [control]="fc.address"
        [showErrorsWhen]="fc.address.touched"
        label="Address"
        max="100"
        spanElement="*"
        [largeInput]="true"
      ></text-input>
      <div class="info">
        <p><span class="important">* </span>Required</p>
        <div class="password-info">
          <p>
            <span class="important">NOTE</span> : Password field required
            already 1 of
          </p>
          <ul>
            <li>Caps</li>
            <li>Small Letter</li>
            <li>Symbol</li>
            <li>Number</li>
          </ul>
        </div>
      </div>
      <default-button text="Register"></default-button>

      <div class="login">
        Already a user? &nbsp;
        <a routerLink="/login" [queryParams]="{ returnUrl: returnUrl }"
          >Login Here</a
        >
      </div>
    </form>
  </div>
</div>
