.container {
  width: 80%;
  margin: auto;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 50px;
}

.order-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  border-radius: 10px;
}

.order-table p {
  margin: 0;
  font-size: 16px;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
}
