.container {
  width: 80%;
  margin: auto;
  overflow-x: auto;
  border-radius: 10px;
}

.order-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.order-table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-table p {
  margin: 0;
  font-size: 16px;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.app-title {
  font-size: 24px;
  font-weight: bold;
  color: #008080;
}

.order-table tr.total-row {
  background-color: #e6f7ff;
}

.order-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.order-table tr:nth-child(odd) {
  background-color: #ffffff;
}

