<div class="container">
  <table class="order-table">
    <tr>
      <td colspan="4">
        <app-title [title]="item.id.toString()"></app-title>
      </td>
    </tr>
    <tr>
      <td class="detail-container" colspan="2">
        <p><strong>Name: </strong>{{ item.name }}</p>
        <p><strong>Address: </strong>{{ item.address }}</p>
      </td>
      <td class="detail-container" colspan="2">
        <p><strong>Status: </strong> {{item.status}}</p>
        <p><strong>Order Date: </strong> {{item.createdAt | date}}</p>
      </td>
    </tr>
    <tr>
      <td class="item-container" colspan="1">
        <b>Item</b>
      </td>
      <td class="item-container" colspan="1">
        <b>Price per item</b>
      </td>
      <td class="item-container" colspan="1">
        <b>Quantity</b>
      </td>
      <td class="item-container" colspan="1">
        <b>Price</b>
      </td>
    </tr>
    <tr *ngFor="let i of item.items">
      <td class="item-container" colspan="1">
          {{ i.food.name }}
      </td>
      <td class="item-container" colspan="1">
        {{i.food.price}}
      </td>
      <td class="item-container" colspan="1">
        {{i.quantity}}
      </td>
      <td class="item-container" colspan="1">
        {{i.price}}
      </td>
    </tr>
    <tr>
      <td class="item-container" colspan="2"></td>
      <td class="item-container" colspan="1"><b>Total Price</b></td>
      <td class="item-container" colspan="1">
        {{item.totalPrice}}
      </td>
    </tr>
  </table>
</div>
