.container {
  position: relative;
  margin-bottom: 0.5rem;
  border-radius: 0.7rem;
  padding-top: 0.3rem;
  border: 1px solid #e0e0e0;
}

label {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  color: #5f5f5f;
}

.content {
  padding: 0 0.5rem;
  height: 2.7rem;
  display: flex;
  align-items: center;
}

.asterix {
  color: red;
}

/* Add this style to adjust the height of the container when largeInput is true */
.large-input {
  height: auto;
}

/* Add this style to move label and asterix to the top when largeInput is true */
.large-input label {
  margin-bottom: 0.5rem;
}

.large-input .asterix {
  margin-top: 0.5rem;
}

.large-input .content {
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  padding-bottom: 0.3rem;
}